/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import 'bootstrap';


$headline: 'Great Vibes', cursive;
$paragraph: 'Bad Script', cursive;
$handwriting: 'Homemade Apple', cursive;
$textcolor: rgb(5, 85, 93);
$peach: rgb(255, 146, 113);
$coral: rgb(255, 146, 155);
$whitesmoke: rgb(248,248,248);
$lavender: rgb(250, 133, 255);

.user_header {

	text-align: right;
	font-family: $paragraph;
	color: $peach;
}